logic-apps/entry/workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {},
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "prompt": {
              "type": "string"
            },
            "userId": {
              "type": "string"
            },
            "sessionId": {
              "type": "string"
            },
            "priority": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "actions": {
    "Compose_task_info": {
      "type": "Compose",
      "inputs": {
        "taskId": "@{guid()}",
        "timestamp": "@{utcNow()}"
      },
      "runAfter": {}
    },
    "Queue_for_design_generation": {
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['azurequeues']['connectionId']"
          }
        },
        "method": "post",
        "path": "/queues/@{encodeURIComponent('design-gen-q')}/messages",
        "body": {
          "MessageText": "@{json(string(union(triggerBody(), json(concat('{\"taskId\":\"', outputs('Compose_task_info')?['taskId'], '\",\"timestamp\":\"', outputs('Compose_task_info')?['timestamp'], '\",\"stage\":\"design-generation\"}')))))}"
        }
      },
      "runAfter": {
        "Compose_task_info": ["Succeeded"]
      }
    },
    "Response": {
      "type": "Response",
      "kind": "Http",
      "inputs": {
        "statusCode": 202,
        "body": {
          "status": "accepted",
          "message": "AI agent task queued for processing",
          "taskId": "@{outputs('Compose_task_info')?['taskId']}",
          "userId": "@{triggerBody()['userId']}",
          "sessionId": "@{coalesce(triggerBody()['sessionId'], guid())}",
          "timestamp": "@{outputs('Compose_task_info')?['timestamp']}",
          "estimatedProcessingTime": "2-5 minutes"
        }
      },
      "runAfter": {
        "Queue_for_design_generation": ["Succeeded"]
      }
    }
  },
  "outputs": {}
}
