logic-apps/content-gen/workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {},
  "triggers": {
    "When_a_new_message_is_received_in_a_queue": {
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['azurequeues']['connectionId']"
          }
        },
        "method": "get",
        "path": "/queues/@{encodeURIComponent('content-gen-q')}/message_trigger"
      },
      "recurrence": {
        "frequency": "Second",
        "interval": 30
      }
    }
  },
  "actions": {
    "Parse_message": {
      "type": "ParseJson",
      "inputs": {
        "content": "@triggerBody()?['MessageText']",
        "schema": {
          "type": "object",
          "properties": {
            "taskId": {"type": "string"},
            "prompt": {"type": "string"},
            "userId": {"type": "string"},
            "sessionId": {"type": "string"},
            "designOutput": {"type": "string"},
            "timestamp": {"type": "string"}
          }
        }
      },
      "runAfter": {}
    },    "Generate_content": {
      "type": "Http",
      "inputs": {
        "method": "POST",
        "uri": "@{parameters('ai_foundry_endpoint')}/openai/deployments/@{parameters('gpt4_deployment_name')}/chat/completions?api-version=2024-02-01",
        "headers": {
          "Content-Type": "application/json"
        },
        "authentication": {
          "type": "ActiveDirectoryOAuth",
          "audience": "https://cognitiveservices.azure.com",
          "clientId": "@{parameters('managed_identity_client_id')}"
        },
        "body": {
          "messages": [
            {
              "role": "system",
              "content": "You are a content creation expert. Generate high-quality content based on design specifications."
            },
            {
              "role": "user",
              "content": "Design: @{body('Parse_message')?['designOutput']} \n\nOriginal Request: @{body('Parse_message')?['prompt']}"
            }
          ],
          "max_tokens": 3000,
          "temperature": 0.7
        }
      },
      "runAfter": {
        "Parse_message": ["Succeeded"]
      }
    },
    "Queue_for_review": {
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['azurequeues']['connectionId']"
          }
        },
        "method": "post",
        "path": "/queues/@{encodeURIComponent('review-q')}/messages",
        "body": {
          "MessageText": "@{string(union(body('Parse_message'), json(concat('{\"contentOutput\":\"', replace(body('Generate_content')?['choices']?[0]?['message']?['content'], '\"', '\\\"'), '\",\"stage\":\"review\"}'))))}"
        }
      },
      "runAfter": {
        "Generate_content": ["Succeeded"]
      }
    }
  },
  "outputs": {}
}
